.kaufman {
    position: relative;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;
    overflow: hidden;
  }