.video {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:-60px; /* подкладываем серый фон под видео https://webref.ru/course/block-model/margin */
}
