.video__iframe {
    width: 515px;
    height: 316px;
    margin-right: 20px;
}

.video__iframe:nth-child(2) {  /* использовала псевдо класс https://developer.mozilla.org/ru/docs/Web/CSS/:nth-child */
    margin: 0;
}