.header__subtitle {
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    max-width: 388px;
    width: 100%;
    bottom: 30px; /* top: calc(100% - 75px - 30px); я могу отписать это таким образом, 
     но нет свойства, которое бы определило высоту блока "header__subtitle" и если высота блока будет меняться,
    то верстка поедет. Поэтому использовала bottom: 30px; */
    left: 64px;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 3;
  }