.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link_decoration{
  color: #2f80ed;
  text-decoration:none;
}
.header_margin_left{
  margin-left: 64px;
}

.logo_place_header{
  background-image: url(../images/logo_place_header.svg);
  width: 183px;
  height: 32px;
  top: 32px;
  position:absolute;
}

.main-initial{
  width: 765px;
  height: 608px;
  position:absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header_title{
  font-size: 102px;
  font-weight: bolder;
  line-height: 96px;
  width: 730px;
  position: relative;
  z-index: 2;
  left:0;
}

.header_subtitle{
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  width: 388px;
  bottom: 30px;
  position:absolute;
}

.header_link{
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.square-pic{
  position:absolute;
  background-color: #2f80ed;
  top:64px;
  right:0;
  width:568px;
  height:568px;
  z-index: 0;
}

.description{
  position: relative;
  top: 100px;
  left:10%;
}

.two-columns{
  display: flex;
  flex-direction: row;
  width: 80% ;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.two-columns_main-text{
  width: 80%; 
  min-width: 784px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin-top:0;
}

.two-columns_brief{
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns_span-accent{
  font-size: 24px;
  font-weight: bolder;
  line-height: 34px;
}

.two-columns_main-text_p{
  margin:0;
  margin-bottom: 30px;
}

.digits{
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.section-title{
  width: 60%;
  font-size: 60px;
  font-weight: bolder;
  line-height: 1.15;
  text-align: center;
}

.digits_section-title{
  margin: 0 auto 20px;
}
.table__heading{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bolder;
  line-height: 1.15;}

.digits_section-subtitle{
  margin-top: 0;
  margin-bottom: 60px;
}

.table{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 1100px;
}

.digits_table{
  margin: auto;

}

.digits_table_cell{
  width: 250px;
  margin-bottom: 60px;
}

.table__text{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.12;
  margin: 0 auto 0;
}


.digits__table_text_bottom{
  margin-top: 20px;
}

.feynman {
  height: 890px;
  position: relative;
  display: flex;
  top: 100px;
  background-color:  #f2f2f2 ;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  flex-direction: column; 
  align-items: center;
}

.feynman_title{
  top: 100px;
  width: 648px;
  font-size: 120px;
  font-weight: bolder;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 0;
}

.feynman_subtitle{
  top: 70px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman_link{
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman{
  position: relative;
  background-color: #1f1f1f;
  color: white;
  top: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 90px;
}

.section-title_theme_dark{
  margin: 90px auto 20px;
}

.section-subtitle{
  font-size: 24px;
  font-weight: bolder;
  line-height: 34px;
  text-align: center;
  width: 60%;
}

.section-subtitle_theme_dark{
  margin: 0 auto 0;}

.table__theme_dark{
  margin-bottom: 80px
}

.table__cell_theme_dark{
  width: 200px;
  margin: 80px auto 0;
}

.kaufman_triangle{
  position: absolute;
  right: -210px;
  z-index: -1;
  width: 877px;
  height: 877px;
}


.footer{
  padding-top: 60px;
  position: relative;
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
}

.footer_columns{
  top: 60px;
  width: 90%;
  margin: 60px 5% 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 350px;
}

.logo_place_footer{
  background-image: url(../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
}

.footer_column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%;
  justify-content: space-between;
}

.footer_author{
  margin: 18px 0 18px;
  }

.footer_column_content_info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* min-height: 350px; */
}

.footer_column_content_social{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}